body {
    font-family: 'Poppins', sans-serif;
   
}
.containerTitle {
    background-color: #fff ;
    padding-top: 8px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
   

}
.containerTitle h1 {
    height: 30px;
    color: #000000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.containerTitle p {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 3px;
   
     
}
.colorAtention {
    margin-left: 15px;
    color: #dd0238
}
.colorAsterisco {
   color: #555
}


form ul li {
    list-style-type: none;
}

#container {
    background-color: #fff ;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    border: solid 1px  #c9c9c9;
}

form li input {
    height: 27px;
    color:rgb(138, 138, 138);
    width: 100%;  
    border:rgb(136, 136, 136) solid 1px;
    margin-bottom: 18px;  
}

form li label {
    margin-bottom: 50px;
}

form i, form h2{
    display: inline-block;
}


.containerPerson, .containerEmail,  .containerAddress, .containerLicense  {
    color: #000;
    font-size: 14px;
    font-weight: bold; 
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;  
}

.containerPerson h2, .containerEmail h2, .containerAddress h2, i {
    color: #000000;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.genre, .containerLicense input, .containerLicense label {
    font-weight: lighter;
    margin-left: 5px;
    color: #555;
    margin-bottom: 5px;  
}

.genre input, .genre label {
    cursor: pointer;
}

form i, form  p {
    display:inline-block;
}
.containerLicense label, .containerLicense input {
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
 
 
}


.containerLicense p {
    margin-top: 10px;
}

form button {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #dd0238;
    font-weight: bold;
    color: #fff;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 15px;
    text-align: center;
    
  
}

form button:hover {
    cursor: pointer;
    background-color: #000;
    transition: .5s ;
}



/* TELA DESKTOP - MININO 991PX */

/* BACKGROUND SECTION */

@media (min-width:991px) {

    body {
        background: #fff;
    }
   
}

/* LAYOU SECTION */

@media (min-width:991px) {

    .containerPerson input, .containerEmail input, .containerAddress input {
        max-width: 90%;
    }

    .containerBlock {
        padding-left: 15px;
        flex: 1 1;
        border-right: solid 1px #c9c9c9;
    }

    .containerAddress {
        padding-left: 23px;
        flex: 1 1;
        border-right: solid 1px #c9c9c9;
    }

    .containerLicense {
       
        flex: 1 1;
    }

    #container {
        display: flex;
    }
    

   
}

/* novo css */

h2, h4{
	font-family: 'Mochiy Pop One', sans-serif;
}


.logo img{
	margin-top: 10px;
}

.menu{
	width: 40px;
}

nav {
	height: 80px;
	width: 100%;
	border-bottom: 1px solid black;
	background-color: rgb(167, 14, 19)
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

.carrinho{
	width: 20px;
}

nav ul li a {
	color: white;
	font-weight: bold;
	background: #222222;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {

	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: #222222;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

@media (max-width: 991px){
	.titulo-destaque{
		margin-top: 20px;
	}
	
	label.logo{
		font-size: 30px;
		padding-left: 10px;
	}
	nav ul li a{
		font-size: 16px;
	}
	.checkbtn {
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #222222;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: white;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

.header-holder{
    text-align: center;
    padding: 10px;
    background-color: rgb(232, 232, 235);
	text-shadow: rgb(143, 139, 139) 0.1em 0.1em 0.2em;
}


.button-footer{
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid white;
	font-weight: bold;
	color: white;
	background-color: rgb(31, 30, 30);
	font-weight: bold;
	margin-bottom: 20px;
}

footer{
	background-color: rgb(31, 30, 30);
	color: white;
	text-align: center;
	padding: 30px 20px;
}

footer h2, footer h4{
	margin: 20px;
}

.inscreva p{
	margin-bottom: 10px;
}

.button-email{
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid white;
	font-weight: bold;
	color: white;
	background-color: rgb(31, 30, 30);
	font-weight: bold;
	margin-bottom: 20px;
}

.localizador h4{
	margin-top: 30px;
}

.sites-estrangeiros select{
	margin-bottom: 20px;
}

.redes-sociais h4{
	margin-bottom: 0;
}

.redes-sociais h4{
	margin-bottom: 10px;
}

.redes-sociais a{
	border: 1px solid white;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.COPYRIGHT{
	margin-top: 20px
}