/* * {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	
	Padronizações
	--main-bg-color: #F8F5F5;
	--second-color: #4F55E0;
	--second-color-variant: #262bb3;

	--ima-color: #2759a5;
	--ima-second-color:#2759a5;
	--ima-second-color-hover:#183867;
	--ima-buton-color: #ff5269;

	--third-color: #464343;
	--second-bg-color: #db0707d0;
	--main-font-style:'Roboto', sans-serif;
	--second-font-style:'Mochiy Pop One', sans-serif;
} */


/* header / Navbar */
body {
	font-family: var(--main-font-style);
	background-color: var(--main-bg-color);
	font-weight: bold;
}

html{
	width: 100vw;
}


/* Navbar */

.menuNav {
	height: 80px;
	width: 100%;
	background-color: var(--second-color);
}

.menuNav ul {
	float: right;
	margin-right: 20px;
}

.menuNav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

.menuNav ul li a {
	color: white;
	font-weight: bold;
	background: var(--second-color-variant);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

.menuNav a.active, .menuNav a.active:hover {
	transition: .5s;
}

.logo img{
	margin-top: 10px;
}

.menu{
	width: 40px;
}

.carrinho{
	width: 20px;
}

.checkbtn {
	font-size: 30px;
	/* color: #222222; */
	color: var(--second-color-variant);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

/* fim nav bar */







/* Footer */

/* Pagina / main */





/* header / Navbar */
@media (max-width: 991px){
	.titulo-destaque{
		margin-top: 20px;
	}
	
	label.logo{
		font-size: 30px;
		padding-left: 10px;
	}
	.menuNav ul li a{
		font-size: 16px;
	}
	.checkbtn {
		display: block;
	}
	.menuNav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #222222;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.menuNav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	.menuNav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: white;
	}
	#check:checked ~ ul {
		left: 0;
	}

	.container{
		margin: 30px 0px;
		display: grid;
		grid-template-areas: 
		"1 2"
		"3 4"
		"5 6";
	}

	.container img{
		width: 150px;
		display: block;
        margin: 0 auto;
	}
	
	
	.button-item button {
		background-color: rgb(209, 0, 0);
		border: none;
		color: white;
		font-weight: bold;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
	}

	.galery{
		display: block;
		margin: 0 auto;
		width: 400px;
		height: 297px;
		overflow: hidden;
	}
	
	.galery .fotos{
		width: 500%;
		animation-name: animacao;
		animation-duration: 20s;
		animation-iteration-count: infinite;
	}
	
	.galery .fotos img{	
		width: 19.9%;
	}
	
	/* Animação da galeria */
	
	@keyframes animacao{
		0%{ margin-left: 0; }
		20%{ margin-left: 0; }
		25%{ margin-left: -100%; }
		45%{ margin-left: -100%; }
		50%{ margin-left: -200% ;}
		70%{ margin-left: -200%; }
		75%{ margin-left: -300%; }
		95%{ margin-left: -300%; }
		100%{ margin-left: -400%; }
	}
	
}

.header-holder{
    text-align: center;
    padding: 10px;
    background-color: var(--main-bg-color);
	text-shadow: rgb(143, 139, 139) 0.1em 0.1em 0.2em;
}

.banner { 
	display: grid;
	grid-template-areas: 
	"h1 button"
	" img" ;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #e5e5f7;
	width: 100%;
}

.banner img{
	width: 100%;
	display: block;
	margin: 0 auto;
}

.banner h1{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 40px;
	width: 70%;
	color: rgb(255, 217, 0);
	text-shadow: black 0.1em 0.1em 0.2em;
}

.button-banner {
	background-color: rgb(209, 0, 0);
	width: 100px;
	padding: 5px 20px;
	color: white;
	font-weight: bold;
	margin-left: 20px;
	border-radius: 10px;
	
}

.blog img{
	width: 414px;
	display: block;
	margin: 0 auto;
	padding: 20px;
}

.titulo-blog{
	text-align: center;
	padding: 20px;
}

.button-footer{
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid white;
	font-weight: bold;
	color: white;
	background-color: rgb(31, 30, 30);
	font-weight: bold;
	margin-bottom: 20px;
}

footer{
	background-color: rgb(31, 30, 30);
	color: white;
	text-align: center;
	padding: 30px 20px;
}

footer h2, footer h4{
	margin: 20px;
}

.inscreva p{
	margin-bottom: 10px;
}

.button-email{
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid white;
	font-weight: bold;
	color: white;
	background-color: rgb(31, 30, 30);
	font-weight: bold;
	margin-bottom: 20px;
}

.localizador h4{
	margin-top: 30px;
}

.sites-estrangeiros select{
	margin-bottom: 20px;
}

.redes-sociais h4{
	margin-bottom: 0;
}

.redes-sociais h4{
	margin-bottom: 10px;
}

.redes-sociais a{
	border: 1px solid white;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.COPYRIGHT{
	margin-top: 20px
}

.container .titulo{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

/* final css checkout */


h4, h6{
   margin-bottom: 15px;
}

main{
   padding: 5px;
   margin: 5px 5vw;
}

.sacola{
   width: 100%;
   height: 100%;
}

.sacola__titulos{
   color: var( --main-bg-color);
   background-color: var(--second-bg-color);
   padding: 10px;
   display: flex;
}
.sacola__titulos>*{
   width: 15%;
}

.sacola__titulos__produto{
   width: 40%;
}

.sacola__item{
   padding: 10px;
   border-bottom: 1px solid rgb(201, 201, 201);
   display: flex;
}

.sacola__item>*{
   width: 15%;
   margin: 15px 0;
}


.sacola__item__produto{
   width: 40%;
   text-decoration: none;
   display: flex;
   align-items: center;
}

.sacola__item__entrega, .sacola__item__preco, .sacola__item__quantidade, .sacola__item__total{
   align-items: center;
   display: flex;
}

.sacola__quantidade__btn{
   color: var(--second-bg-color);
	background-color: var(--main-bg-color);
   font-size: 15px;

   margin: 0 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   border-radius: 50%;
   width: 25px;
   height: 25px;
}
.sacola__item__produto img{
   width: 20%;
}

.sacola__complemento{
   display: inline-grid;
   grid-template-columns: 3fr auto;
   width: 100%;
   padding: 15px 0;
}

button{
   color: var(--main-bg-color);
   background-color: var(--second-bg-color);
   border: none;
   padding: 5px;
}

input{
   color: var(--main-border);
   background-color: var(--main-bg-color);
	border: 1px solid var(--second-bg-color);
   padding: 5px;
}

.sacola__complemento__desconto{
   justify-content: end;
   max-width: 500px;
}

.sacola__total>*{
   margin-top: 20px;
   justify-items: center;
}

.sacola__desconto__input, .cupom__desconto__btn{
   width: 30%;
}
.add__desconto{
   display: flex;
   justify-content: space-between;
}
.addTextComponent{
   margin-top: 0;
   display: flex;
   justify-content: flex-end;
}

.addTextComponent>*{
   width: 50%;
}

.sacola__total{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sacola__total>*{
   display: flex;
   justify-content: space-between;
}

.sacola__opcoes{
   display: flex;
   justify-content: space-between;
   height: 35px;
}

.sacola__entrega_calcular_btn{
   width: 150px;
   height: 40px;
}
.fechar__pedido__btn{
   min-width: 300px;
}
.escolher__pecas__btn{
   max-width: 300px;
}

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV's */

@media (max-width: 768px) {

   main{
      margin: 0px;
   }

   h4{
      text-align: center;
      font-size: 24px;
   }

   .sacola__complemento{
      display: flex;
      flex-direction: column;
   }
   
   .sacola__complemento__desconto{
      margin-top: 15px;
   }
   .sacola__titulos{
      justify-content: space-between;
   }
   .sacola__item{
      justify-content: space-between;
   }

   .sacola__item__produto{
      flex-direction: column;
   }

   .off_mobile{
      display: none;
   }

   .sacola__opcoes{
      display: flex;
      height: 35px;
      justify-content: space-between;
   }
   .sacola__opcoes>*{
      min-width: 40%;
   }
 
   .sacola__titulos__produto{
      width: 20%;
   }
   .sacola__item__produto img{
      width: 100px;
   }
   .sacola__item__produto{
      width: 20%;
      text-decoration: none;
      display: flex;
      align-items: center;
   }

   .add__desconto{
      flex-direction: column;
   }
   .cupom__desconto{
      text-align: center;
      font-weight: 600;
      font-size: 24px;
   }

.sacola__quantidade__btn{
   background-color: #fff;
   color: var(--main-border);
   font-size: 15px;
   border: none;
   margin: 0 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   width: 25px;
   height: 25px;
   }
   
}
