* {

   /* resets */
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	
	/* Padronizações */
	--main-bg-color: #F8F5F5;
	--second-color: #4F55E0;
	--second-color-variant: #262bb3;

	--ima-color: #2759a5;
	--ima-second-color:#2759a5;
	--ima-second-color-hover:#183867;
	--ima-buton-color: #ff5269;

	--third-color: #464343;
	--second-bg-color: #db0707d0;
	--main-font-style:'Roboto', sans-serif;
	--second-font-style:'Mochiy Pop One', sans-serif;
}
