body{
   width: 100vw;
}

main{
	max-width: 1400px;
	margin: 0 auto;
}

header{
   width: 100%;
}


/* Navbar */
.menuNav {
	height: 80px;
	width: 100%;
	background-color: var(--second-color);
}

.menuNav ul {
	float: right;
	margin-right: 20px;
}

.menuNav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

.menuNav ul li a {
	color: white;
	font-weight: bold;
	background: var(--second-color-variant);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

.menuNav a.active, .menuNav a.active:hover {
	transition: .5s;
}

.logo img{
	margin-top: 10px;
}

.menu{
	width: 40px;
}

.carrinho{
	width: 20px;
}

.checkbtn {
	font-size: 30px;
	color: var(--second-color-variant);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

/* fim nav bar */


/* Footer */
footer{
	background-color: rgb(31, 30, 30);
	color: white;
	text-align: center;
	padding: 30px 20px;
}

.button-footer{
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid white;
	font-weight: bold;
	color: white;
	background-color: rgb(31, 30, 30);
	font-weight: bold;
	margin-bottom: 20px;
}

footer h2, footer h4{
	margin: 20px;
}

.inscreva p{
	margin-bottom: 10px;
}

.button-email{
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid white;
	font-weight: bold;
	color: white;
	background-color: rgb(31, 30, 30);
	font-weight: bold;
	margin-bottom: 20px;
}

.localizador h4{
	margin-top: 30px;
}

.sites-estrangeiros select{
	margin-bottom: 20px;
}

.redes-sociais h4{
	margin-bottom: 0;
}

.redes-sociais h4{
	margin-bottom: 10px;
}

.redes-sociais a{
	border: 1px solid white;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.COPYRIGHT{
	margin-top: 20px
}


/* header / Navbar */
@media (max-width: 991px){
	/* .titulo-destaque{
		margin-top: 20px;
	}
	 */
	label.logo{
		font-size: 30px;
		padding-left: 10px;
	}
	.menuNav ul li a{
		font-size: 16px;
	}
	.checkbtn {
		display: block;
	}
	.menuNav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #222222;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.menuNav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	.menuNav ul li a {
		font-size: 20px;
	}
	nav a:hover, a {
		background: none !important;
		color: white;
	}
	#check:checked ~ ul {
		left: 0;
	}

}





/* novo css */

input[type='radio']{
	opacity: 110%;
	width: 100%;
}

body{
   width: 100vw;
}
	/* @@ -96,7 +91,6 @@ */
	 footer{
	margin-bottom: 20px;
}


footer h2, footer h4{
	margin: 20px;
}
	/* @@ -144,20 +138,6 @@ 
} */



/* final css checkout */

/* 
h4, h6{
   margin-bottom: 15px;
} */

/* main{
   padding: 5px;
   margin: 5px 5vw;
} */


/* header / Navbar */
/* @media (max-width: 991px){ */
	/* .titulo-destaque{
	@@ -203,110 +183,535 @@ h4, h6{
}


/* Começando o css do produto */

.produto{
	background-color: #b8b3b344;
	margin: 15px;
	padding: 5px;
	display: flex;
}

.produto__imagem{
	display: flex;
}
.produto__galeria{
	display: flex;
	flex-direction: column;
	margin: 5px 15px 5px 5px;
}
.produto__galeria a{
   width: 90px;
   height: 90px;
}
.produto__vizualizacao{
	max-width: 500px;
	margin: auto;
}

.produto__vizualizacao img, 
	.produto__galeria a img{
	width: 	100%;
}
.produto__dados{
	margin: 15px;
}
.produto__preco__original{
	color: #414040;
	text-decoration: line-through;
}
.produto__preco__atual{
	color: red;
	font-size: 30px;
	font-weight: 700;
}
.produto__cores__opcoes, .produto__tamanho__opcoes{
display: flex;
}
.produto__cores__opcoes__item, .produto__tamanho__opcoes__item{
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

#corBranca{
   background-color: white;
}

#corPreta{
   background-color: black;
}

.produto_opcoes *{
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	height: 40px;
	border: none;
	background-color: green !important;
   width: 100%;
	margin: 10px 0;
	color: aliceblue;
	text-transform: uppercase;
	font-weight: 600;
}


/* main */
@media (max-width: 991px){

   .item__produto{
      max-width: 800px;
   }

	.identificao{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
   .produto{
      flex-direction: column;
      align-items: center;
   }
   .produto__imagem{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .produto__galeria{
      flex-direction: row;
   }

   .produto__dados{
      width: 80%;
   }


}


/* .input-radio-hckdv label{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}
.input-radio-hckdv input[type="radio"]{
   display: none;
}
.input-radio-hckdv input[type="radio"]:checked+label{
	border: 2px solid var(--ima-buton-color);
   color: blue;
} */

